<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title><% if (cont.kwType == "k") { %>
        Explore Our Beautiful Kitchen Photo Gallery | <%= cont.kwTitle %>
        <% } else { %>
        Inspiring Wardrobe Ideas and Inspiration | <%= cont.kwTitle %>
        <% } %>
    </title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/gotoPage/gotoPage.css">
    <link rel="stylesheet" href="/css/home/swiper-bundle.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <section id="nav">

        <div class="toggle">
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
        </div>

        <div class="mob_logo">
            <a href="/index.html"><img src="/assets/images/home_page/radiance_logo.png" alt=""></a>
        </div>

        <div class="bar">

            <div class="links nav_1">
                <ul>
                    <li><a href="./kitchenWardrobePage?kwType=k" class="nav_title">Kitchens</a></li>
                    <li><a href="./kitchenWardrobePage?kwType=w" class="nav_title" >Wardrobes</a></li>
                </ul>
            </div>

            <div class="logo">
                <a href="/index.html"><img src="/assets/images/home_page/radiance_logo.png" alt=""></a>
            </div>
            <div class="links">
                <ul>

                    <li><a href="./blogList" class="nav_title">Our blog</a></li>
                    <li>
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Company <i
                                    class='bx bxs-chevron-down dropbtn'></i> </button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="/aboutus.html">About us</a>
                                <a href="/history.html">History</a>
                                <a href="/testimonials.html">Client Testimonials</a>
                                <a href="/faq.html"> FAQs</a>
                                <a href="/contactUs.html"> Contact Us</a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>

        </div>

        <div class="name">
            <h2 id="contentTitle"><%= cont.kwTitle %></h2>
        </div>
    </section>

    
    <section id="main-sec">
        <h2 id="heading"><%= cont.kwHead %></h2>
         
        <!-- <h1>Detail</h1> -->
    </section>

    <section id="cor1">
        <div class="swiper mySwiper container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="<%= img["00"] %>" alt="" id="img00"></div>
              <div class="swiper-slide"><img src="<%= img["01"] %>" alt="" id="img01"></div>
              <div class="swiper-slide"><img src="<%= img["02"] %>" alt="" id="img02"></div>
              <div class="swiper-slide"><img src="<%= img["03"] %>" alt="" id="img03"></div>
              <div class="swiper-slide"><img src="<%= img["04"] %>" alt="" id="img04"></div>
           
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
    </section>
 
    <section id="context">
        <h2 id="subHeading"><%= cont.kwSubHead %></h2>
        <p id="para1"><%= cont.kwPara1 %></p>
    </section>

    <section id="cor1">
        <div class="swiper mySwiper container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="<%= img["10"] %>" alt="" id="img10"></div>
              <div class="swiper-slide"><img src="<%= img["11"] %>" alt="" id="img11"></div>
              <div class="swiper-slide"><img src="<%= img["12"] %>" alt="" id="img12"></div>
              <div class="swiper-slide"><img src="<%= img["13"] %>" alt="" id="img13"></div>
              <div class="swiper-slide"><img src="<%= img["14"] %>" alt="" id="img14"></div>
          
           
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
    </section>

    <section id="context">
        
        <p id="para2"><%= cont.kwPara2 %></p>
    </section>

    <footer>
        <div class="foot-logo">
            <img src="/assets/images/home_page/radiance_logo.png" alt="">
        </div>

        <div class="foot-links">

            <div class="col">
                <a href="./kitchenWardrobePage?kwType=k">
                    <h2>Kitchen</h2>
                </a>

                <a href="./kitchenWardrobePage?kwType=w">
                    <h2>Wardrobe</h2>
                </a>
                <a href="./blogList">
                    <h2>Our Blog</h2>
                </a>
            </div>

            <div class="col">
                <h2>Company</h2>
                <a href="/aboutus.html">
                    <p>About us</p>
                </a>
                <a href="/history.html">
                    <p>History</p>
                </a>
                <a href="/testimonials.html">
                    <p>Client Testimonial</p>
                </a>
                <a href="/faq.html">
                    <p>Faqs</p>
                </a>
                <a href="/contactUs.html">
                    <p>Contact us</p>
                </a>


            </div>

            <div class="col">
                <h2>Contact us</h2>

                <p> +91 98505 60095</p>
                <p>radiancekitchensofficials@gmail.com</p>


            </div>

            <div class="col">
                <h2>Our socials</h2>

                <a href="/https://instagram.com/radiancekitchensandfurniture?igshid=YmMyMTA2M2Y="> <i
                        class="fa-brands fa-square-instagram"></i></a>
                <a
                    href="/https://www.facebook.com/214920678535903/posts/pfbid0CwHAoYt6YpgQf6ReM9rYjaU6eDjSLz2rpbfmNmSVtuoxQUm9HXf1FtLhwk7eeWjql/?mibextid=Nif5oz">
                    <i class="fa-brands fa-square-facebook"></i></a>
                <a href="/https://www.linkedin.com/company/radiance-kitechens-furnitures/
               "> <i class="fa-brands fa-linkedin"></i></a>
                <a href="/contactUs.html"> <i class="fa-sharp fa-solid fa-envelope"></i></a>
            </div>



            <div class="col">
                <h2>Locate our store <i class='bx bx-current-location'></i></h2>
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30264.703866569707!2d73.80774527611592!3d18.524925794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2c413fc991%3A0xe4bed2ae01d59dde!2sRadiance%20Kitchens%20and%20Furnitures!5e0!3m2!1sen!2sin!4v1677150696308!5m2!1sen!2sin"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        </div>
        </div>
    </footer>

    <script src="/src/home/slider_script.js"></script>
    <script src="/src/home/bigbox.js"></script>
    <script src="https://kit.fontawesome.com/489ebd9a8c.js" crossorigin="anonymous"></script>
    <script src="/src/home/nav.js"></script>
    
</body>
</html>